:root {
  /* colors */
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --black-75: rgba(0, 0, 0, 0.75);
  --black-25: rgba(0, 0, 0, 0.25);
  --black-50: rgba(0, 0, 0, 0.5);

  /* font size */

  --size-xs: 8px;
  --size-s: 16px;
  --size-m: 24px;
  --size-l: 32px;
  --size-xl: 40px;
  --size-xxl: 48px;
}
body {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-rows: auto 1fr auto;

  color: var(--black);
  background-color: var(--white);
  font-size: var(--size-s);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  color: transparent;
}
.nav_bar {
  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  border-radius: 40px;
  font-weight: 400;
  letter-spacing: 0.25px;
  background-color: var(--black-50);
  box-shadow: rgba(0, 0, 0, 0.4) 0 -20px 15px -12px inset, rgba(0, 0, 0, 0.3) 0 2px 4px, rgba(0, 0, 0, 0.25) 0 4px 8px,
    rgba(0, 0, 0, 0.2) 0 8px 16px, rgba(0, 0, 0, 0.1) 0 16px 32px;
  transition: transform 0.3s ease, color 0.3s ease;
}
.link {
  color: var(--white);
  cursor: pointer;
  font-size: var(--size-s);
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}
.link:hover {
  color: var(--black);
}
.footer {
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--size-s);
  font-weight: 100;
}
