:root {
  /* colors */
  --white: #ffffff;
  --black: #00171f;
  --gray: #e9ecef;
  --primary: #003459;
  --secondary: #007ea7;
  --terciary: #00a8e8;

  /* font size */

  --size-xs: 8px;
  --size-s: 16px;
  --size-m: 24px;
  --size-l: 32px;
  --size-xl: 40px;
  --size-xxl: 48px;
}
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 60px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: var(--black);
  background-color: var(--white);
  font-size: var(--size-s);
}
nav {
  position: sticky;
  top: 0;
  z-index: 100;

  padding-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nav_bar {
  padding-inline: 20px;
  height: 40px;
  width: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  border-radius: 40px;
  font-weight: 400;
  letter-spacing: 0.25px;

  backdrop-filter: blur(10px);
}
.link {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: var(--black);
  cursor: pointer;
  font-size: var(--size-s);
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}
.link:hover {
  color: var(--terciary);
}
.logo_container {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
}
.footer {
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  font-size: var(--size-s);
}
@media (max-width: 768px) {
  .icon {
    display: block;
    font-size: var(--size-l);
  }
  .link_name {
    display: none;
  }
  .logo {
    display: none;
  }
}
