:root {
  /* colors */
  --white: #ffffff;
  --black: #000000;
  --gray: #e9ecef;
  --white-blur: rgba(255, 255, 255, 0.8);

  /* font size */

  --size-xs: 8px;
  --size-s: 16px;
  --size-m: 24px;
  --size-l: 32px;
  --size-xl: 40px;
  --size-xxl: 48px;
}
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 60px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: var(--black);
  background-color: var(--white);
  font-size: var(--size-s);
}
nav {
  position: sticky;
  top: 0;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nav_bar {
  padding-inline: 20px;
  height: 60px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;

  font-weight: 400;
  letter-spacing: 0.25px;
  background: var(--black);
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white);
  cursor: pointer;
}
.icon {
  font-size: var(--size-m);
}
.footer {
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  font-size: var(--size-s);
}
