.app {
  margin-inline: 200px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media (max-width: 1024px) {
  .app {
    margin-inline: 100px;
  }
}
@media (max-width: 768px) {
  .app {
    margin-inline: 20px;
  }
}
