.app {
  margin-inline: 200px;
  display: flex;
  flex-direction: column;
}
/* home   -----------------------------------------------*/
.home {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.home__logo_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.home__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.home__avatar {
  transition: transform 0.3s;
}
.home__avatar:hover {
  transform: scale(1.1);
}
.home__title {
  font-size: var(--size-xxl);
}
.home__subtitle {
  font-size: var(--size-m);
}
.home__content i {
  color: var(--primary-color);
}
.home_section__para {
  font-size: var(--size-m);
}
.home__btn_container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
/* project  ---------------------------------------------*/
.project {
  width: 100%;
  padding-bottom: 60px;

  display: flex;
  flex-direction: column;
  gap: 60px;
}
.project__title {
  padding-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: var(--size-l);
  border-bottom: 2px solid var(--black);
}
/* about  -----------------------------------------------*/

.about {
  width: 100%;
  padding-bottom: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.about__title {
  width: 100%;
  padding-bottom: 10px;
  font-size: var(--size-l);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid var(--black);
}
.about__container_content {
  max-width: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.about__resume {
  transition: transform 0.3s;
}
.about__resume:hover {
  transform: scale(1.1);
} /* @media (max-width: 992px) {
  .aboutme {
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px;
  }
  @media (max-width: 576px) {
    .aboutme__resumeImg {
      width: 300px;
    }
  }
}
@media (max-width: 576px) {
  .home {
    padding: 10px;
    gap: 20px;
  }
  .home__title {
    font-size: var(--size-l);
  }
  .home__subtitle {
    font-size: var(--size-s);
  }
  .home__para {
    font-size: var(--size-s);
  }
  .home__btns_container {
    flex-direction: column;
  }
} */
