/* btn one */
.button_one {
  position: relative;

  height: 40px;
  width: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  letter-spacing: 0.25px;
  border: transparent;
  cursor: pointer;
  overflow: hidden;

  color: var(--black);
  white-space: nowrap;
  background-color: var(--white);
  font-family: inherit;
  font-size: inherit;
}
.button_one::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: -350%;
  left: -350%;

  width: 800%;
  height: 800%;

  background: conic-gradient(
    from 0deg,
    #ffffff,
    #f0f0f0,
    #d9d9d9,
    #bfbfbf,
    #a6a6a6,
    #bfbfbf,
    #d9d9d9,
    #f0f0f0,
    #ffffff
  );

  animation: rotateColors 4s linear infinite;
}
.button_one_content {
  position: relative;
  z-index: 1;

  padding: 10px 20px;

  width: calc(100% - 4px);
  height: calc(100% - 4px);

  display: flex;
  align-items: center;
  justify-content: center;

  border: 4px solid transparent;
  background-color: var(--white-blur);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* Animación de rotación para el fondo */
@keyframes rotateColors {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* btn two */
.button_two {
  position: relative;
  overflow: hidden;

  padding: 10px 20px;
  border: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  text-decoration: none;
  letter-spacing: 0.25px;
  transition: all 0.02s;
  cursor: pointer;
  color: var(--black);
  z-index: 0;
  box-shadow: 0 0px 5px -5px rgba(0, 0, 0, 0.5);
  transition: ease 0.3s;
  font-family: inherit;
  font-size: inherit;
}

.button_two:hover {
  background: var(--black);
  color: var(--white);
}

.button_two:active {
  transform: scale(1);
}

.hover_effect {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hover_effect div {
  background: var(--white-blur);
  background: linear-gradient(90deg, #a6a6a6 0%, #d9d9d9 100%);
  border-radius: 40rem;
  width: 10rem;
  height: 10rem;
  transition: 0.4s;
  filter: blur(20px);
  animation: effect infinite 3s linear;
  opacity: 0.5;
}

.button_two:hover .hover_effect div {
  width: 8rem;
  height: 8rem;
}

@keyframes effect {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
