.button {
  padding: 10px 20px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 40px;
  text-decoration: none;
  letter-spacing: 0.25px;
  background-color: var(--black-50);
  color: var(--white);
  transition: transform 0.3s ease, color 0.3s ease;
}
.button:hover {
  background-color: var(--black);
  transform: scale(1.05);
}
